body {
  margin: 0px;
}

.MuiDataGrid-main .MuiChip-root {
  min-width: 128px;
}
#sentry-feedback {
  --inset: auto auto 0px -10px;
}

.field-string > .MuiTextField-root,
.field-number > .MuiTextField-root {
  width: inherit;
}
