body {
  margin: 0px;
}

.MuiDataGrid-main .MuiChip-root {
  min-width: 128px;
}
#sentry-feedback {
  --inset: auto auto 0px -10px;
}
.MuiSelect-select {
  min-width: 15vw;
}
.form-group.field.field-undefined .panel>.form-group {
  display: inline-block;
  padding-right: 8px;
}
.form-group.field.field-undefined .panel-body>.form-group  {
  padding-right: unset;
  width: 50% !important;
}


