target/*
build/*
.mvn
out
.idea
src/main/resources/static/*
application-custom.properties
src/main/resources/application-local.properties
src/main/resources/application-amtuat.properties
src/main/resources/application-dc4h.properties
src/main/resources/application-nmpcuat.properties